body {
    background-color: #E5C3D1;
}

.center{
    display: flex;
    justify-content: center;
}

#time {
    border: 5px solid #613F75;
    border-radius: 10%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
}

.mx {
    margin: 10px;
}

.main-font {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}

.time-font {
    color: #613F75;
    font-family: "Tiny5", serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
  }
  
.sprite {
 width: 75px;
}

.button-icon {
    width: 25px;
}